body { font-family: monospace; /* This */ background-color: #252525ff; /* code */ color: white; }
button { background-color: #444444; /* is */ border-color: #707070; /* a */font-family: monospace; /* mess. */ color: white;}
a { color: white; text-decoration: none; }
a:link { text-decoration: none; color: white; }
a:active { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: white; }
* { color: white; }